/* SHARED  */
.navbarup {
  height: 120px;
}
/* SHARED FONT */
.ft-12 {
  font-size: 12px;
}
.ft-30 {
  font-size: 30px;
  font-weight: bold;
}
.txtblue {
  color: #031b4e;
}
.txtwhite {
  color: white;
}
/* SHARED PADDING */

.ptb-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.ptb-80 {
  padding-top: 80px;
  padding-bottom: 40px;
}
.pt-30 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.pd-0 {
  padding: 0;
}
.pb-80 {
  padding-bottom: 80px;
}
/* SHARED MARGIN */
.mg-30 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-default,
.panel-default > .panel-heading {
  background-color: white;
  border-color: white;
  margin-bottom: 0;
}
/* SHARED BACKGROUND */

.fishblue {
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
}
.beige {
  background-color: #e6e6e6;
}
.white {
  background-color: white;
}
.darkblue {
  background-color: #031B4E;
}

/* FIRST NAV BAR */

nav .btn-xs {
  background-color: #3DC6C6;
}

/* SECOND NAV BAR */

header .navbar-brand i,
a[href^="##"] {
  color: #01448E;
}

.navbar-right .btn {
  background-color: white;
  color: #1D75FA;
  border: 1px solid #1D75FA;
}

/* MAIN  */

.fishblue .row h1 {
  font-size: 60px;
  font-weight: bold;color: white;
  line-height: 1.2;
}
.fishblue .row h3 {
  color: white;
  line-height: 1.5;
  opacity: 0.7;
}
.fishblue .card {
  background-color: white;
  border-radius: 5%;
}

/* WHITE SUB MAIN  */

.uppergrey {
  opacity: 0.7;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 2px;
}
.beige .row .list-inline img {
  max-width: 150px;
}

/* DEPLOY WHITE SECTION */

.deploy .row h3,
.designed .row h3 {
  opacity: 0.7;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 20px;
  margin-top: 10px;
}
.deploy .row ul{
  list-style: none;
}
.fa-globe, .fa-shield-alt {
  color:#031b4e;
}
.deploy .row ul li p,
.deploy .row p,
.features .row p {
  padding-bottom: 20px;
  opacity: 0.7;
  line-height: 1.5;
}

/* DESIGNED WHITE SECTION */

.designed .row img {
  border-radius: 5px;
  max-width: 100%;
}
.designed .row .col-lg-2 i {
  padding-top: 300px;
}
.designed .row .col-lg-8 div i,
.development .col-lg-12 div i {
  color: blue;
  padding-right: 10px;
}

/* FEATURES WHITE SECTION */

.features .row a {
  font-weight: bold;
}

/* SERVICE BLUE SECTION */

.darkblue .row h5 {
  border-bottom: 0.5px solid lightgrey;
  padding-bottom: 15px;
  color: white;
}
.darkblue .row h5:last-child {
  border: none;
}
.darkblue .col-lg-6 strong {
font-weight: bold;
padding-right: 40px;
}
.darkblue .row .list a {
  color: #4dffff;
  float: right;
}
/* WHITE DEVELOPMENT SECTION */

.development .logo {
  max-width: 200px;
}
/* BLUE SMALL SECTION */


/* DARKBLUE FOOTER */
footer .col-lg-2 ul {
    list-style: none;
    line-height: 2;
}

@media all and (max-width: 768px) {
  .ptb-150 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ptb-80 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .designed .row .col-lg-2 i {
    padding-top: 50px;
  }
  .container-fluid {
    background-color: #0049FF;
    }
 nav {
   display: none;
 }
 .fishblue {
   background-image: none;
   background-color: #0049FF;
 }
  .navbar-header {
    margin-bottom: 0;
    padding-bottom: 0;
  }

 .navbar-default .navbar-toggle .icon-bar {
   background-color: white;
 }
 .navbar-default .navbar-toggle {
   border-color: transparent;
 }
 .navbar-default .navbar-toggle:hover {
   background-color: lightblue;
 }
}
